html,body{
  padding: 0;
  margin: 0;
  text-align: center;
}
.head{
  background-color: rgb(110,205,205);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:20px;
}
.head h2{
  font-size: 30px;
  padding-left: 220px;
}
#timer{
  height: 80px;
  width: 80px;
  background-color: rgb(167, 157, 157);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-left: 200px;
  font-size: 30px;
}
p{
  font-size: 28px;
  background-color: black;
  color: yellow;
  padding: 10px;
}
textarea{
  font-size: 20px;
  width: 90%;
}